In order to use this project properly, you must pip-install these libraries:

tkinter (to create the GUI)-------------------------------------------------------> In the terminal pip install tkinter
pydub (used for converting and manipulating the audio)---------------------> In the terminal pip install pydub
ffmpeg (pydub works because of this framework)-----------------------------> In the terminal pip install ffmpeg
scipy (manipulation and plotting audio)----------------------------------------> In the terminal pip install scipy
numpy (Aray Computing) ----------------------------------------> In the terminal pip install numpy
